#aurora-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    min-width: 100px;
    min-height: 100px;
    z-index: 0;
    pointer-events: none;
    overflow: hidden;
    opacity: 1;
    will-change: transform;
}

#aurora-container canvas {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}
